<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYFiG2BBlJHmPz74zT2TIQWbkoD4kl2FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>5569070464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizAnac</string>
	<key>PROJECT_ID</key>
	<string>anacsimu</string>
	<key>STORAGE_BUCKET</key>
	<string>anacsimu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5569070464:ios:e6cd5a9b5bf37a6fec2d65</string>
</dict>
</plist>